<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8" style="overflow: visible;">

  <mat-table [dataSource]="dataSource"  matSort>

    <!-- ID Column -->
  
    <ng-container matColumnDef="save">
      <mat-header-cell *matHeaderCellDef> Save </mat-header-cell>
      <mat-cell *matCellDef="let row"> <input type="button" value="Save" onclick>  </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
      <mat-cell *matCellDef="let row"> <input type="button" value="Edit" onclick>  </mat-cell>
    </ng-container>
    <ng-container matColumnDef="employeeId">
      <mat-header-cell *matHeaderCellDef mat-sort-header > employeeId </mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.employeeId}} </mat-cell>
    </ng-container>
	<ng-container matColumnDef="projectId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> projectId </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.projectId}} </mat-cell>
    </ng-container>
   <ng-container matColumnDef="locationId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> locationId </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.locationId}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="esaProjectName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> esaProjectName </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.esaProjectName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="associateName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> associateName </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.associateName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef mat-sort-header> location </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.location}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="lob">
      <mat-header-cell *matHeaderCellDef mat-sort-header> lob </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.lob}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header> type </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="leave_days">
      <mat-header-cell *matHeaderCellDef mat-sort-header> leave_days </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.leave_days}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="totalRate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> totalRate </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.totalRate}} </mat-cell>
    </ng-container>
     <ng-container matColumnDef="month">
      <mat-header-cell *matHeaderCellDef mat-sort-header> month </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.month}} </mat-cell>
    </ng-container>
     <ng-container matColumnDef="year">
      <mat-header-cell *matHeaderCellDef mat-sort-header> year </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.year}} </mat-cell>
    </ng-container>
     <ng-container matColumnDef="totalHours">
      <mat-header-cell *matHeaderCellDef mat-sort-header> totalHours </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.totalHours}} </mat-cell>
    </ng-container>
     <ng-container matColumnDef="allocation_start_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> allocation_start_date </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.allocation_start_date}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="allocation_end_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> allocation_end_date </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.allocation_end_date}} </mat-cell>
    </ng-container>
     <ng-container matColumnDef="vacationNonBillableDays">
      <mat-header-cell *matHeaderCellDef mat-sort-header> vacationNonBillableDays </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.vacationNonBillableDays}} </mat-cell>
    </ng-container>
     <ng-container matColumnDef="vacationNonBillableHours">
      <mat-header-cell *matHeaderCellDef mat-sort-header> vacationNonBillableHours </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.vacationNonBillableHours}} </mat-cell>
    </ng-container>
     <ng-container matColumnDef="rate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> rate </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.rate}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="location_type">
      <mat-header-cell *matHeaderCellDef mat-sort-header> location_type </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.location_type}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
